body{
  height: 100vh;
  background: #e5e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  width: 38%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 102px -37px;
}
